.container{
    padding: 2rem;
    }
    
    .slider-wrapper{
        position: sticky;
        max-width: 23rem;
        margin: 0 auto;
    }
    
    .slider{
        display: flex;
        aspect-ratio: 1/1;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }
    
    .slider-img{
        flex: 1 0 100%;
        scroll-snap-align: auto;
        object-fit: cover;
    }
    
    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }
    
    .slider-nav a:hover{
        opacity: 1;
    }
    
    .slider-wrapper {
        width: 50%; 
        display: inline-block;
        max-width: 23rem;
        float:left; 
        box-sizing:border-box; 
    }
    
    .slider {
        display: flex;
         transition: transform 0.5s ease;
    }
    
    .slider img {
        width: 100%; 
        height: auto; 
        display: block;
    }
    
    .slider-wrapper {
        flex: 1; 
        box-sizing: border-box; 
        margin-right: 95px; 
    }